.CommonServiceLowerSectionMainContainer {
  padding: 100px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
}

.CommonServiceLowerSectionMainContainer h1 {
  font-family: "Exo 2", sans-serif;
}
.CommonServiceLowerSectionMainContainer button {
  padding: 15px 25px;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  background-color: rgb(152, 48, 48);
  border: 1px solid transparent;
  color: #ffffff;
}
