.CommonIndustryMiddleSectionMainContainer {
  padding: 100px 30px 170px 30px;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 60px;
  font-family: "Exo 2", sans-serif;
}
.CommonIndustryMiddleSectionLeftSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.CommonIndustryMiddleSectionLeftSection img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 400px;
  border-radius: 15px;
}
.CommonIndustryMiddleSectionRightSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.CommonIndustryMiddleSectionRightSection {
  width: 100%;
}
.CommonIndustryMiddleSectionContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.CommonIndustryMiddleSectionContent img {
  width: 40px;
  height: 40px;
}

/*  */
@media screen and (max-width: 950px) {
  .CommonIndustryMiddleSectionMainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .CommonIndustryMiddleSectionRightSection {
    grid-template-columns: repeat(1, 1fr);
  }
}
