.CommonServiceAskAndAnswerMainContainer {
  padding: 100px 30px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 50px;
  font-family: "Exo 2", sans-serif;
}
.CommonServiceAskAndAnswerLeftContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.CommonServiceAskAndAnswerRightContainer {
  display: flex;
  flex-direction: column;
}
.CommonServiceAskAndAnswerMainContent {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #d9b9b9;
  cursor: pointer;
}
.CommonServiceAskAndAnswerMainContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  .CommonServiceAskAndAnswerMainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
