.recycleLowerContainer {
  padding: 100px 30px;
  background-color: #c75353af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.recycleLowerContainer p {
  font-size: 2rem;
  font-family: "Poppins", Sans-serif;
  font-weight: 900;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  -webkit-text-stroke-width: 1.5px;
  stroke-width: 1.5px;
  -webkit-text-stroke-color: #ffffff;
  stroke: #ffffff;
  color: #00aeef00;
  width: 70%;
  line-height: 1.5;
}
.recycleLowerContainer button {
  padding: 15px 12px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  background-color: rgb(152, 48, 48);
  border: 1px solid transparent;
  width: 150px;
  font-weight: 700;
  background: #770909a4;
  border: 1px solid #d9b9b9;
}
.recycleLowerContainer button:hover {
  border: 1px solid white;
  background: rgba(175, 175, 175, 0.25);
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .recycleLowerContainer {
    flex-direction: column;
    gap: 30px;
  }
  .recycleLowerContainer p {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .recycleLowerContainer p {
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    stroke: #ffffff;
    letter-spacing: 1px;
    width: 100%;
  }
}
