/* desktop nav bar */
.mainContainerNavBar {
  position: sticky;
  top: 0px;
  z-index: 500;
}
.navbarMainWrapper {
  width: 100%;
}
.navbarWrapper {
  max-width: 1200px;
  height: 100px;
  /*   position: relative;
 */
}
.MainNavBar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navBar,
.mobileNavBar {
  box-sizing: border-box;
  width: 100%;
  max-width: 2000px;
  height: 60px;
  background: #d52627;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 800;

  /* 
   top: 0;
  position: fixed; 
    left: 0px;
 */
}
.mobileNavBar {
  /* top: 0;
  position: fixed; */
}
.mobileNavBar.scrolled {
  background: #d52626b9;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.381);
}
.navBar.scrolled {
  background: #d52626b9;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.381);
  z-index: 2000;
  /*  top: 0;
  position: fixed; */
}
.navBar img {
  height: 50px;
}
.navBar ul {
  width: 100%;
  /*   background-color: blueviolet;
 */
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: flex-end;
}
.navBar ul li {
  list-style: none;
  cursor: pointer;
}
.navBar ul li a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.navBar ul li a:after {
  content: " ";
  position: absolute;
  top: 27px;
  left: 0px;
  width: 0%;
  height: 3px;
  background-color: rgb(245, 170, 170);
  transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -ms-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
}
.navBar ul li a:hover::after {
  width: 100%;
}
/*  */
/* mobile menu */
.mobileNavBar {
  /* //position: relative; */
  max-width: 2000px;
}
.mobileNavBar img {
  cursor: pointer;
}
.hamMenu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  align-items: center;
}
.line {
  width: 80%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
}
.active.hamMenu .line:nth-of-type(1) {
  transform: translateY(12px) rotate(45deg);
  -webkit-transform: translateY(12px) rotate(45deg);
  -moz-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  -o-transform: translateY(12px) rotate(45deg);
}

.active.hamMenu .line:nth-of-type(2) {
  transform: translateY(-12px) rotate(-45deg);
  -webkit-transform: translateY(-12px) rotate(-45deg);
  -moz-transform: translateY(-12px) rotate(-45deg);
  -ms-transform: translateY(-12px) rotate(-45deg);
  -o-transform: translateY(-12px) rotate(-45deg);
}

.mobileOverLay {
  background-color: rgba(0, 0, 0, 0.571);
  position: fixed;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100dvh;
  transition: left 0.2s linear;
  -webkit-transition: left 0.2s linear;
  -moz-transition: left 0.2s linear;
  -ms-transition: left 0.2s linear;
  -o-transition: left 0.2s linear;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}
.show {
  left: 0%;
}
.sideMenu {
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  background-color: #d52627;
  opacity: 1 !important;
  z-index: 500;
  border-bottom: transparent !important;
}
.sideMenu ul {
  /* 
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

    gap: 50px;
 */
  justify-content: center;
}
.sideMenu ul li {
  list-style: none;
  cursor: pointer;
}

.backDiv {
  display: flex;
  padding: 30px 20px;
  align-self: center;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  gap: 10px;
}
.backIcon {
  font-family: 30px;
}
.recycleBtnMobile {
  background: rgba(175, 175, 175, 0.25);
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.recycleBtnMobileLink {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
}
/* menus and submenus */
.menuContainerDesktop {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  width: 150px;
}
.subMenuDesktop {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  left: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 200px;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.179);
  overflow: hidden;
}
.navBar.subMenuDesktop {
  opacity: 1 !important;
}
.menuContainerDesktopLinkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  word-break: break-all;
  width: fit-content;
  gap: 5px;
}
.subMenuDesktopLink {
  display: block;
  padding: 10px 15px;
  width: 100%;
  text-decoration: none;
  color: black;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
  line-height: 1.4;
  font-family: "Exo 2", sans-serif;
}
.subMenuDesktopLink:hover {
  background-color: #d9b9b9;
  color: #ffffff;
}

.menuContainerDesktop li {
  width: fit-content;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.menuContainerDesktop li:after {
  content: " ";
  position: absolute;
  top: 50px;
  left: 0%;
  width: 0%;
  height: 3px;
  background-color: rgb(245, 170, 170);
  transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -ms-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  z-index: 100;
}
.menuContainerDesktop > div > li:hover::after {
  width: 130%;
}
.subMenuDesktopLink {
  display: block;
  width: 200px;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  text-decoration: none;
  color: black;
}
/* .subMenuMobileMainContainer */
.subMenuMobileMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mobileMainSubmenuConatainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 30px;
  margin: auto auto;
  width: 85%;
}

.mobileMainSubmenuSection {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.mobileMainSubmenuSectionHeader {
  display: flex;
  align-items: flex-end;
  padding: 10px 0px;
  gap: 10px;
}
.mobileMainSubmenuSectionHeader li {
  list-style: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
  cursor: pointer;
}
.mobileMainSubmenuLowerSection {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.subMenuMobileMainLink {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 700;
}
.subMenuMobileLink {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: 550;
  font-family: "Exo 2", sans-serif;
  color: #d9b9b9;
}

.mobileMainSubmenuConatainer {
  display: flex;
  gap: 20px;
  width: 100%;
}
.subMenuMobileMainMenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}
.linksContainer {
  margin-bottom: 20px;
}
.links {
  text-decoration: none;
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  font-size: 700;
  cursor: pointer;
  font-size: 22px;
}

.subMenuMobileMainContainerSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.subMenuMobileMainContainerSectionContent {
  width: 60%;
}
/*  */

@media screen and (max-width: 1150px) {
  .navBar ul {
    gap: 15px;
  }
  .navBar ul li a {
    font-size: 14px;
  }
  .recycleBtnMobile {
    padding: 10px 15px;
    font-size: 12px;
  }
  .menuContainerDesktop {
    width: 160px;
  }
  .menuContainerDesktop li {
    font-size: 14px;
  }
  .subMenuDesktop {
    font-size: 1rem;
    width: 200px;
    font-weight: 550;
  }
}

@media screen and (max-width: 850px) {
  .navBar ul {
    width: 100%;
  }
  .navBar ul li a {
    font-size: 13px;
  }
  .navbarMainWrapper {
    left: 0px;
  }
  .subMenuDesktopLink {
    display: block;
    width: 200px;
    text-decoration: none;
    color: black;
  }
  .menuContainerDesktop {
    width: 130px;
  }
}
@media screen and (max-width: 400px) {
  .sideMenu {
    width: 100%;
  }
}
